@media screen and (min-width: 0px) {

    html,
    body,
    #root {
        box-sizing: border-box;
        margin: 0;
        min-height: 100vh;
        background-color: var(--light-color);

        --primary-color: #9E5D4E;
        --light-color: #FFFFFF;
        --dark-color: #000000;
        --off-dark-color: #0D0706;
        --dark-variant-color: #070606;
        --off-primary-color: #8D5245;
        --off-light-color: #FAFAFA;
        --input-field-text-color: #AAADB4;
        --input-field-border-color: #DCDFE6;
        --form-label-color: #606266;
        --marquee-bg-color: #F6EEED;
        --text-gray-color: #535862;
        --border-primary-color: #DBBDB6;
        --border-off-primary-color: #C99B91;
        --border-faint-primary-color: #E9EAEB;
        --subtitle-gray-color: #A4A7AE;
        --off-gray-color: #4F4F4F;
        --active-rating-color: #FDB022;
        --cream-blend-variant-color: #C99B91;
        --cream-blend-inverse-color: #E4CDC8;

        --basic-padding: 4.75rem;
        --basic-margin: 4.75rem;
        --flex-gap: 4.75rem;
        --mobile-nav-height: 20.1rem;
    }

    * {
        /* outline: 1px solid #FF0000; */
    }
}